.background-image {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 3rem;
  margin-top: -6rem;
  width: 56% !important;
  height: 150% !important;
  z-index: 0 !important; /* Ensure the background image stays behind */
  border: none !important;
  background-color: transparent !important;
}

.foreground-image {
  margin-top: -10rem;
  background-color: transparent !important;
  border: none !important;
  z-index: -1 !important;
  transform: rotate(10deg);
}

.triangle {
  background: linear-gradient(
    to bottom right,
    #fffbeb 0%,
    #fffbeb 50%,
    #fef3c7 50%,
    #fef3c7 100%
  ) !important;
}

.rectangle {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #fde68a;
  border: none !important;
  border-color: #fde68a !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: "-20rem";
}

@media (max-width: 767.98px) {
  .background-image {
    margin-top: -4rem; /* Adjust margin-top */
    width: 70% !important; /* Make the image occupy full width */
    height: auto !important; /* Set height to auto */
  }

  .foreground-image {
    margin-top: -4rem; /* Adjust margin-top */
    transform: rotate(-37deg) !important; /* Adjust rotation */
    width: 92% !important;
  }

  .shoe {
    margin-top: 7rem; /* Adjust margin-top */
    margin-bottom: 4rem;
    height: 100% !important;
    z-index: 0 !important; /* Ensure the background image stays behind */
    border: none !important;
    background-color: transparent !important;
  }
}
